$tint-color: #f0f3f7;
$desc-color: #7c7c7c;
$dark-color: #24292e;
$theme-color: #213344;
$sideBasic: 5px;
.tint-color{
	color:$tint-color;
}
.dark-color{
	color:$dark-color;
}
.desc-color{
	color:$desc-color;
}
.tint-bg{
	background-color:$tint-color;
}
.dark-bg{
	background-color:$dark-color;
}
.desc-bg{
	background-color:$desc-color;
}
// overflow
.overflow-hidden {
	overflow: hidden;
}
.overflow-scroll {
	overflow: scroll;
}
.w-100 {
	width:100%;
}
.h-100 {
	height:100%;
}
/* border、radius 边框、圆角class集合 */
.border-outline {
 border: 1px solid #E8E8E8;
}
.border-0 {
  border: none;
}
.border-left {
  border-left: 1px solid #E8E8E8;
}
.border-top {
  border-top: 1px solid #E8E8E8;
}
.border-right {
  border-right: 1px solid #E8E8E8;
}
.border-bottom {
  border-bottom: 1px solid #E8E8E8;
}
.border-left-0{
  border: 1px solid #E8E8E8;
  border-left:  none;
}
.border-top-0{
  border: 1px solid #E8E8E8;
  border-top: none;
}
.border-right-0 {
  border: 1px solid #E8E8E8;
  border-right: none;
}
.border-bottom-0 {
  border: 1px solid #E8E8E8;
  border-bottom: none;
}
.border-radius-5 {
  border-radius: 10upx;
}
.border-radius-50 {
  border-radius: 50%;
}
.border-radius-top-4 {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.border-radius-left-4 {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.border-radius-right-4 {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.border-radius-bottom-4 {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* background、gradient 背景、阴影颜色class集合 */

.bg-f8f9fb {
  background: #F8F9FB;
}
.bg-828282 {
  background: rgba(130,130,130,0.05);
}
.bg-e8e8e8 {
  background: #E8E8E8;
}
.bg-e1e4e8 {
  background: #E1E4E8;
}
.bg-ffffff {
  background: #FFFFFF;
}
.bg-f03d3d {
  background: #F03D3D;
}
.bg-0c66ff {
  background: #0C66FF;
}
.bg-ffad0d {
  background: #FFAD0D;
}
.shadow {
  box-shadow: 0 0 2px 0 rgba(10,31,68,0.08), 0 9px 12px 0 rgba(10,31,68,0.10);
}
.gradient-blue {
  background-image: linear-gradient(180deg, #1285FF 0%, #20D1FF 100%);
}
.gradient-green {
  background-image: linear-gradient(135deg, #57D968 0%, #00D590 100%);
}
.gradient-red-orange {
  background-image: linear-gradient(135deg, #FF5980 0%, #FFA882 100%);
}
.gradient-blue-purple {
  background-image: linear-gradient(135deg, #916BFF 0%, #3366FF 98%);
}
.gradient-red-purple {
  background-image: linear-gradient(135deg, #D438FF 0%, #8C58FF 100%);
}

/* Cursor 光标类型class集合 */

.cursor-pointer {
  cursor: pointer;
}

.cursor-move {
  cursor: move;
}

.cursor-text {
  cursor: text;
}

.cursor-wait {
  cursor: wait;
}

.cursor-help {
  cursor: help;
}

/* Display 显示方式class集合 */

.d-inline {
  display: inline;
}
.d-inline-block {
  display: inline-block;
}
.d-block {
  display: block;
}
.d-none {
  display: none;
}
.d-table {
  display: table;
}
.d-table-cell {
  display: table-cell;
}

/* flex 弹性盒子class集合 */
.d-flex {
  display: flex;
}

//换行
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

// 水平反序排列
.d-flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

// 垂直排列
.d-flex-column {
  display: flex;
  flex-direction: column;
}

// 在元素开始位置水平对齐
.flex-ju-start {
  display: flex;
  justify-content: flex-start;
}

// 在元素末尾位置水平对齐
.flex-ju-end {
  display: flex;
  justify-content: flex-end;
}

// 居中水平对齐
.flex-ju-center {
  display: flex;
  justify-content: center;
}

// 两端不留白水平对齐
.flex-ju-between {
  display: flex;
  justify-content: space-between;
}

// 俩边留白水平对齐
.flex-ju-around {
  display: flex;
  justify-content: space-around;
}

// 在元素开始位置垂直对齐
.flex-al-start {
  display: flex;
  align-items: flex-start;
}

// 在元素末尾位置垂直对齐
.flex-al-end {
  display: flex;
  align-items: flex-end;
}

// 在元素中间位置垂直对齐
.flex-al-center {
  display: flex;
  align-items: center;
}

// 元素水平垂直居中对齐
.flex-ju-al-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// 元素水平两端，垂直居中对齐
.flex-ju-al-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Float 浮动class集合 */

// 左浮动
.float-left {
  float: left;
}

// 右浮动
.float-right {
  float: right;
}

// 可以覆盖原本的浮动，让元素不浮动
.float-none {
  float: none;
}

// 清除浮动
.clearfix {
  clear: both;
}

/* Position 位置class集合 */

// 相对定位
.position-relative {
  position: relative;
}

// 固定定位
.position-fixed {
  position: fixed;
}

// 绝对定位
.position-absolute {
  position: absolute;
}

/* Space 边距class集合 */


@mixin slideX($slide: margin, $times: 0, $sideBasic: $sideBasic) {
  #{$slide}-left: $times * $sideBasic;
  #{$slide}-right: $times * $sideBasic;
}
@mixin slideY($slide: margin, $times: 0, $sideBasic: $sideBasic) {
  #{$slide}-top: $times * $sideBasic;
  #{$slide}-bottom: $times * $sideBasic;
}

// margin
.m-0{
  margin: 0;
}
.m-5{
  margin: $sideBasic;
}
.m-10{
  margin: $sideBasic * 2;
}
.m-15{
  margin: $sideBasic * 3;
}
.m-20{
  margin: $sideBasic * 4;
}
// margin-top
.mt-0{
  margin-top: 0;
}
.mt-5{
  margin-top: $sideBasic;
}
.mt-10{
  margin-top: $sideBasic * 2;
}
.mt-15{
  margin-top: $sideBasic * 3;
}
.mt-20{
  margin-top: $sideBasic * 4;
}
// margin-right
.mr-0{
  margin-right: 0;
}
.mr-5{
  margin-right: $sideBasic;
}
.mr-10{
  margin-right: $sideBasic * 2;
}
.mr-15{
  margin-right: $sideBasic * 3;
}
.mr-20{
  margin-right: $sideBasic * 4;
}
// margin-bottom
.mb-0{
  margin-bottom: 0;
}
.mb-5{
  margin-bottom: $sideBasic;
}
.mb-10{
  margin-bottom: $sideBasic * 2;
}
.mb-15{
  margin-bottom: $sideBasic * 3;
}
.mb-20{
  margin-bottom: $sideBasic * 4;
}
//margin-left
.ml-0{
  margin-left: 0;
}
.ml-5{
  margin-left: $sideBasic;
}
.ml-10{
  margin-left: $sideBasic * 2;
}
.ml-15{
  margin-left: $sideBasic * 3;
}
.ml-20{
  margin-left: $sideBasic * 4;
}

// padding
.p-0{
  padding: 0;
}
.p-5{
  padding: $sideBasic;
}
.p-10{
  padding: $sideBasic * 2;
}
.p-15{
  padding: $sideBasic * 3;
}
.p-20{
  padding: $sideBasic * 4;
}

// padding-top
.pt-0{
  padding-top: 0;
}
.pt-5{
  padding-top: $sideBasic;
}
.pt-10{
  padding-top: $sideBasic * 2;
}
.pt-15{
  padding-top: $sideBasic * 3;
}
.pt-20{
  padding-top: $sideBasic * 4;
}
// padding-right
.pr-0{
  padding-right: 0;
}
.pr-5{
  padding-right: $sideBasic;
}
.pr-10{
  padding-right: $sideBasic * 2;
}
.pr-15{
  padding-right: $sideBasic * 3;
}
.pr-20{
  padding-right: $sideBasic * 4;
}
// padding-bottom
.pb-0{
  padding-bottom: 0;
}
.pb-5{
  padding-bottom: $sideBasic;
}
.pb-10{
  padding-bottom: $sideBasic * 2;
}
.pb-15{
  padding-bottom: $sideBasic * 3;
}
.pb-20{
  padding-bottom: $sideBasic * 4;
}
.pb-80{
  padding-bottom: $sideBasic * 16;
}
//padding-left
.pl-0{
  padding-left: 0;
}
.pl-5{
  padding-left: $sideBasic;
}
.pl-10{
  padding-left: $sideBasic * 2;
}
.pl-15{
  padding-left: $sideBasic * 3;
}
.pl-20{
  padding-left: $sideBasic * 4;
}

/* Typography 文字class集合 */

// @mixin textBasic($fontSize: 12, $lineHeight: normal) {
//   font-size: #{$fontSize}px;
//   line-height: $lineHeight;
// }
//  文字颜色
.color-0c66ff {
  color: #0c66ff;
}
.color-0bb07b {
  color: #0bb07b;
}
.color-f03d3d {
  color: #f03d3d;
}
.color-ffad0d {
  color: #ffad0d;
}
.color-0a1f44 {
  color: #0A1F44;
}
.color-53627c {
  color: #53627C;
}
.color-8a94a6 {
  color: #8A94A6;
}
.color-a6aebc {
  color: #A6AEBC;
}
.color-ffffff {
  color: #FFFFFF;
}

// 文字不换行
.text-nowrap {
  white-space: nowrap;
}
// 文字超出隐藏
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
// 所有字母小写
.text-lowercase {
  text-transform: lowercase;
}
// 所有字母大写
.text-uppercase {
  text-transform: uppercase;
}
// 首字母大写
.text-capitalize {
  text-transform: capitalize;
}
// 文字字重
.text-weight-light {
  font-weight: lighter;
}
// 文字字重
.text-weight-normal {
  font-weight: normal;
}
// 文字字重
.text-weight-bold {
  font-weight: bold;
}
// 文字居中
.text-center {
  text-align: center;
}
// 文字居左

.text-left {
  text-align: left;
}
// 文字居右
.text-right {
  text-align: right;
}
// 字体大小
.text-12 {
  // @include textBasic(12, 20px);
	font-size:12px;
}
.text-14 {
	font-size:14px;
}
.text-16 {
	font-size:16px;
}
.text-20 {
  // @include textBasic(20, 26px);
	font-size:20px;
}
// 标题
// .h1,
// h1 {
//   @include textBasic(30, 38px);
// }
// .h2,
// h2 {
//   @include textBasic(24, 32px);
// }
// .h3,
// h3 {
//   @include textBasic(20, 24px);
// }
// .h4,
// h4 {
//   @include textBasic(16, 22px);
// }
// .h5,
// h5 {
//   @include textBasic(14, 20px);
// }
// .h6,
// h6 {
//   @include textBasic(12, 20px);
// }
